// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 1rem;
}

header {
  text-align: center;
}

.main-card-wide.mdl-card {
  margin: 0 auto;
  width: 40rem;

  h1 {
    font-size: 2rem;
  }
}
